@import "../public.less";

.inviter_index_container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background:url(../assets/main_bg.png);
  background-size: 100% auto;
}

.inviter_index_lottery{
  .pxtorem(margin-top,20)
}

.title_text_img{
  width: 68%;
  height: auto;
  .pxtorem(margin-top,80)
}

.jingli_img{
  .pxtorem(width,751);
  .pxtorem(height,201);
  .pxtorem(margin-top,50)
}

.view_list_img{
  .pxtorem(width,168);
  .pxtorem(height,168);
  .pxtorem(margin-top,50)
}