@import "../public.less";
.invite_container{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background:white;
  background-size: 100% auto;
}
.invite_tips01{
  .pxtorem(font-size,40);
  .pxtorem(margin-top,85);
  color: coral;
}

.invite_href{
  display: flex;
  flex-direction: row-reverse;
  .pxtorem(margin-top,40);
  .pxtorem(margin-right,60);
}

.invite_tips02{
  .pxtorem(font-size,50);
  .pxtorem(margin-top,5);
  color: coral;
}
.invite_tips03{
  .pxtorem(font-size,30);
  .pxtorem(margin-top,70);
  .pxtorem(margin-right,30);
  .pxtorem(margin-left,30);
  .pxtorem(line-height,52);
  .pxtorem(text-indent,56);
  text-align: left;
  color: black;
}
.invite_bag_img{
  .pxtorem(width,375);
  .pxtorem(height,221);
  .pxtorem(margin-top,70);
}
.invite_button_01{
  background: red;
  color:white;
  .pxtorem(width,610);
  .pxtorem(margin-top,60);
}
.invite_button_02{
  color: red;
  .pxtorem(width,610);
  .pxtorem(margin-top,20);
}
.Prizewinning{
  overflow:scroll;
  .pxtorem(height,200);
}
.invite_tips_container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
}
.invite_tips_content{
  width: 80%;
  .pxtorem(height,800);
  background:url(../assets/tips.png) #ffffff no-repeat 0 bottom;
  background-size: 100% auto;
  .pxtorem(margin-top,90);
  margin-right: auto;
  margin-left: auto;
  border-radius:15px;
  padding-top: 20px;
}
.invite_tips_close_container{
  width: 100%;
  height: auto;
  .pxtorem(margin-top,20);
}
.invite_tips_close_img{
  .pxtorem(wdith,120);
  .pxtorem(height,120);
}
.invite_tips_rule_title{
  color: red;
}
.invite_tips_rule_img{
  .pxtorem(wdith,160);
  .pxtorem(height,40);
  .pxtorem(margin-top,10);
}
.invite_activity_text{
  color:#686666;
  .pxtorem(font-size,28);
  .pxtorem(margin-top,30);
  .pxtorem(margin-left,20);
  .pxtorem(margin-right,20);
  .pxtorem(line-height,36);
  text-align: justify;
  &:nth-of-type(1){
    text-align: center;
  }
}

