.container {
  height: 5.125rem;
  padding-top: 1.5625rem;
}
#canvas {
  width: 280px;
  height: 65px;
  background: url('http://sandbox.runjs.cn/uploads/rs/25/8vbvprof/result.png');
  background-size: 100% 100%;
  margin: 0 auto;
}
.le {
  width: 20.4375rem;
  height: 5.125rem;
  position: relative;
  top: -66px;
}
