@import "../public.less";

.lottery_container{
  display: flex;
  width: 100%;
  height: auto;
  .pxtorem(margin-top,60);
  align-items: center;
  justify-content: center;
}
.le{
  .pxtorem(width,654);
  .pxtorem(height,164);
}