@media only screen and (-webkit-device-pixel-ratio: 1), only screen and (device-pixel-ratio: 1) {
  .border-1px-h {
    transform: scaleY(1);
  }
  .border-1px-v {
    transform: scaleX(1);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 2), only screen and (device-pixel-ratio: 2) {
  .border-1px-h {
    transform: scaleY(0.5);
  }
  .border-1px-v {
    transform: scaleX(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3), only screen and (device-pixel-ratio: 3) {
  .border-1px-h {
    transform: scaleY(0.33);
  }
  .border-1px-v {
    transform: scaleX(0.33);
  }
}
.list-wrap .caption {
  padding-bottom: 0.9375rem;
}
.list-wrap li {
  width: 20.3125rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: 1.25rem;
}
.list-wrap li .text-content {
  position: absolute;
  left: 0;
  top: 1.125rem;
  width: 100%;
  height: 3.625rem;
  color: #ffffff;
}
.list-wrap li .text-content .left {
  width: 6.59375rem;
  font-size: 0.875rem;
  text-align: center;
}
.list-wrap li .text-content .left > p {
  display: inline-block;
  position: relative;
}
.list-wrap li .text-content .left > p span {
  font-size: 2.75rem;
  padding-left: 0.1875rem;
  padding-right: 0.1875rem;
  font-weight: 800;
}
.list-wrap li .text-content .left > p .number {
  position: absolute;
  left: auto;
  right: -0.75rem;
  top: 0.15625rem;
  color: #1c5d66;
  font-style: normal;
  font-size: 0.875rem;
  white-space: nowrap;
}
.list-wrap li .text-content .border-1px-v {
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
  content: '';
  background-color: #ffffff;
  left: 6.5625rem;
  height: 100%;
  width: 1px;
}
.list-wrap li .text-content .right {
  padding-left: 1.25rem;
}
.list-wrap li .text-content .right h6 {
  font-size: 1.0625rem;
  margin-bottom: 0.75rem;
}
.list-wrap li .text-content .right p {
  font-size: 0.75rem;
}
.list-wrap li .text-content.yellow {
  color: #4e1c13;
}
.list-wrap li .text-content.yellow .border-1px-v {
  background-color: #4e1c13;
}
.list-wrap li .tag {
  position: absolute;
  right: 0;
  top: 0;
  width: 3.75rem;
}
.list-wrap li .remark {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  padding-top: 1.25rem;
  padding-bottom: 0.625rem;
  color: #332c2b;
}
.list-wrap li .remark span {
  font-size: 1rem;
  margin-right: 0.125rem;
}
.list-wrap li .remark i {
  font-style: normal;
}
