@media only screen and (-webkit-device-pixel-ratio: 1), only screen and (device-pixel-ratio: 1) {
  .border-1px-h {
    transform: scaleY(1);
  }
  .border-1px-v {
    transform: scaleX(1);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 2), only screen and (device-pixel-ratio: 2) {
  .border-1px-h {
    transform: scaleY(0.5);
  }
  .border-1px-v {
    transform: scaleX(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3), only screen and (device-pixel-ratio: 3) {
  .border-1px-h {
    transform: scaleY(0.33);
  }
  .border-1px-v {
    transform: scaleX(0.33);
  }
}
.bind-phone {
  overflow: auto;
}
.bind-phone .btn {
  background-color: #c20a0a;
  color: #ffffff;
  flex-shrink: 0;
}
.bind-phone .mb-24 {
  margin-bottom: 0.75rem;
}
.bind-phone .form-wrap {
  width: 87%;
  margin: 0 auto;
  padding: 25px 0px;
  border: 1px solid #c20a0a;
  border-radius: 8px;
  box-sizing: border-box;
}
.bind-phone .form-wrap .box {
  width: 74.5%;
  margin: 0 auto;
}
.bind-phone .form-wrap .box .caption {
  margin-bottom: 30px;
  text-align: center;
  font-size: 22px;
  color: #332c2b;
}
.bind-phone .form-wrap .box .input {
  min-height: 18px;
  height: 38px;
  line-height: 38px;
  background: transparent;
  border-bottom-color: #e6e6e6;
  font-size: 14px;
  padding-left: 0;
}
.bind-phone .form-wrap .box .input * {
  font-size: inherit;
}
.bind-phone .form-wrap .box .input input {
  padding: 0 5px;
}
.bind-phone .form-wrap .box .btn {
  margin-left: 1.75rem;
}
.bind-phone .form-wrap .box > .btn {
  margin-top: 1.5rem;
  margin-left: 0;
}
.bind-phone .form-wrap .verify .input {
  margin-bottom: 0;
}
.bind-phone .form-wrap .verify .btn {
  width: 6.25rem;
  box-sizing: border-box;
}
.bind-phone .form-wrap .verify-pic img {
  width: 6.25rem;
  flex-shrink: 0;
  margin-left: 1.75rem;
}
