@import "../../public";

.oilCard-root {
  position: relative;
  .pxtorem(padding-bottom, 160);
  width: 100%;
  min-height: 100vh;
  background-color: white;
  overflow: auto;
  box-sizing: border-box;
}

.oilCard-banner {
  width: 100%;
  height: auto;
}

.observeCouponDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .pxtorem(padding-top, 40);
  .pxtorem(padding-bottom, 40);
}

.oilCouponBtn {
  width: 50%;
  height: auto;
}

.chooseCouponTitle {
  color: @black5;
  .pxtorem(font-size, 30);
}

.oicCardItemDiv {

}

.selectedItem {
  color: deepskyblue;
  border-color: deepskyblue;
}

.normalItem {
  color: gray;
  border-color: gray;
}

.oilCard-oilItem {
  position: relative;
  .pxtorem(border-radius, 10);
  .pxtorem(border-width, 2);
  .pxtorem(margin-left, 10);
  .pxtorem(margin-right, 10);
  .pxtorem(height, 50);
  .pxtorem(height, 116);
  border-style: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.oilCard-originalPrice {
  .pxtorem(margin-bottom, 6);
  .pxtorem(font-size, 36);
  font-weight: bold;
}

.oicCard-salePrice {
  .pxtorem(font-size, 24);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.discountImage {
  position: absolute;
  display: block;
  top: 0;
  right: -1px;
  .pxtorem(width, 60);
}

.oilCard-line {
  .pxtorem(height, 2);
  background-color: lightgray;
}

.oilCard-introduction {
  color: @black5;
  .text-box {
    dd{
      .pxtorem(margin-bottom, 8);
      .pxtorem(line-height, 44);
      text-align: justify;
    }
  }
}

.introduction-title {
  .pxtorem(margin-top, 28);
  .pxtorem(margin-bottom, 20);
  font-weight: bold;
  .pxtorem(font-size, 32);
  color: @black7;
}

.oicCard-buyBtn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.oilCard-padding {
  width: 90.4%;
  margin-left: auto;
  margin-right: auto;
}