.oilCard-root {
  position: relative;
  display: flex;
  flex: 1;
  padding-bottom: 4.28571429rem;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
}
.oilCard-wrap {
  overflow: auto;
}
.oilCard-banner {
  width: 100%;
  height: auto;
}
.observeCouponDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.42857143rem;
  padding-bottom: 1.42857143rem;
}
.oilCouponBtn {
  display: inline-block;
  width: 50%;
  height: auto;
}
.oilCouponBtn img {
  width: 100%;
}
.chooseCouponTitle {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.07142857rem;
}
.selectedItem {
  color: deepskyblue;
  border-color: deepskyblue;
}
.normalItem {
  color: gray;
  border-color: gray;
}
.oilCard-oilItem {
  position: relative;
  border-radius: 0.35714286rem;
  border-width: 0.07142857rem;
  margin-left: 0.35714286rem;
  margin-right: 0.35714286rem;
  height: 1.78571429rem;
  height: 4.14285714rem;
  border-style: solid;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.oilCard-originalPrice {
  margin-bottom: 0.21428571rem;
  font-size: 1.28571429rem;
  font-weight: bold;
}
.oicCard-salePrice {
  font-size: 0.85714286rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.discountImage {
  position: absolute;
  display: block;
  top: 0;
  right: -1px;
  width: 2.14285714rem;
}
.oilCard-line {
  height: 0.07142857rem;
  background-color: lightgray;
}
.oilCard-introduction {
  color: rgba(0, 0, 0, 0.5);
}
.oilCard-introduction .text-box dd {
  margin-bottom: 0.28571429rem;
  line-height: 1.57142857rem;
  text-align: justify;
}
.introduction-title {
  margin-top: 1rem;
  margin-bottom: 0.71428571rem;
  font-weight: bold;
  font-size: 1.14285714rem;
  color: rgba(0, 0, 0, 0.7);
}
.oicCard-buyBtn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.oilCard-padding {
  width: 90.4%;
  margin-left: auto;
  margin-right: auto;
}
