.bind-phone {
  overflow: auto;
}
.bind-phone .btn {
  background-color: #E25B28;
  color: #ffffff;
  flex-shrink: 0;
}
.bind-phone .mb-24 {
  margin-bottom: 0.85714286rem;
}
.bind-phone .form-wrap {
  padding-top: 1.92857143rem;
  padding-bottom: 1.64285714rem;
  box-sizing: border-box;
}
.bind-phone .form-wrap .box {
  width: 85%;
  margin: 0 auto;
}
.bind-phone .form-wrap .box .caption {
  margin-bottom: 1.42857143rem;
  font-size: 1.21428571rem;
  color: #E25B28;
}
.bind-phone .form-wrap .box .input {
  min-height: 18px;
  height: 38px;
  line-height: 38px;
  background: transparent;
  border-bottom-color: #e6e6e6;
  font-size: 14px;
  padding-left: 0;
}
.bind-phone .form-wrap .box .input * {
  font-size: inherit;
}
.bind-phone .form-wrap .box .input input {
  padding: 0 5px;
}
.bind-phone .form-wrap .box .btn {
  margin-left: 1.28571429rem;
}
.bind-phone .form-wrap .box > .btn {
  margin-top: 1.71428571rem;
  margin-left: 0;
}
.bind-phone .form-wrap .verify .input {
  margin-bottom: 0;
}
.bind-phone .form-wrap .verify .btn {
  width: 7.14285714rem;
  box-sizing: border-box;
  background: #F38F17;
}
.bind-phone .form-wrap .verify-pic img {
  width: 7.14285714rem;
  flex-shrink: 0;
  margin-left: 1.28571429rem;
}
.bind-phone.border-all .form-wrap .box .am-list-line {
  padding-right: 0;
}
.bind-phone.border-all .form-wrap .box .am-list-line::after {
  display: none;
}
.bind-phone.border-all .form-wrap .box .input {
  padding: 0 5px;
  border-style: solid;
  border-color: #e6e6e6;
  border-width: 0.03571429rem;
}
