@import "../../public.less";

.bind-phone {
  overflow: auto;
  .btn {
    background-color: @orange;
    color: #ffffff;
    flex-shrink: 0;
  }
  .mb-24 {
    .pxtorem(margin-bottom, 24);
  }
  .form-wrap {
    padding: 25px 0px;
    box-sizing: border-box;
    .box {
      width: 85%;
      margin: 0 auto;
      .caption {
        .pxtorem(margin-bottom, 40);
        .pxtorem(font-size, 34);
        color: @orange;
      }
      .input {
        min-height: 18px;
        height: 38px;
        line-height: 38px;
        background: transparent;
        border-bottom-color: #e6e6e6;
        font-size: @fontGroovy;
        padding-left: 0;
        & * {
          font-size: inherit;
        }
        & input {
          padding: 0 5px;
        }
      }

      .btn {
        .pxtorem(margin-left, 56)
      }

      & > .btn {
        .pxtorem(margin-top, 48);
        margin-left: 0;
      }
    }
    .verify {
      .input {
        margin-bottom: 0;
      }
      .btn {
        .pxtorem(width, 200);
        box-sizing: border-box;
        background: @orange-light;
      }
    }
    .verify-pic {
      img {
        .pxtorem(width, 200);
        flex-shrink: 0;
        .pxtorem(margin-left, 56)
      }
    }
  }

  &.border-all .form-wrap .box .input {
    border-color: #e6e6e6
  }
}