.already img {
  width: 100%;
  display: block;
}
.already .top {
  position: relative;
  margin-bottom: 9.32142857rem;
}
.already .top .use {
  position: absolute;
  left: 34%;
  width: 32.26%;
  bottom: -47%;
}
.already .QR-code {
  width: 33.34%;
  margin: 0 auto;
}
.already .arrow {
  display: inline-block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-left-width: 0.35714286rem;
  border-bottom-width: 0.57142857rem;
  border-right-width: 0.35714286rem;
  border-style: solid;
  border-bottom-color: #666666;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: 0;
}
.already .text {
  text-align: center;
}
.already .text p:nth-of-type(1) {
  margin-bottom: 0.57142857rem;
  font-size: 1.07142857rem;
  font-weight: 800;
  color: #666666;
}
.already .text p:nth-of-type(2) {
  font-size: 0.92857143rem;
  color: #6f6f6f;
}
