@import '../../public';

.receive {
  height: 100vh;
  background: @orange;
  overflow: auto;
  .top {
    width: 100%;
  }
  .info-wrap {
    .pxtorem(padding-right, 44);
    .pxtorem(padding-left, 44);
    .pxtorem(padding-bottom, 44);
    & > .box {
      background: @white;
      border-radius: 4px;
      overflow: hidden;
      .title {
        color: @orange;
      }
      .text-box {
        text-align: justify;
        dt{
          position: relative;
        }
      }
    }
  }
}