.receive {
  height: 100vh;
  background: #E25B28;
}
.receive .top {
  width: 100%;
}
.receive .info-wrap {
  width: 90%;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
}
