$colorRed: #c20a0a;
$colorGray: #686666;
$colorGray2: #474443;
$colorBlack: #332c2b;
$fontBig: 22px;
$font20: 20px;
$fontSecond: 16px;
$fontGroovy: 14px;
$fontSmall: 12px;

.border-1px {
  &:after{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    display: block;
    content: '';
    background-color: #6a6564;
  }
}
@media only screen and (-webkit-device-pixel-ratio: 1.0), only screen and(device-pixel-ratio: 1.0) {
  .border-1px:after {
    transform: scaleY(1);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 2.0), only screen and(device-pixel-ratio: 2.0) {
  .border-1px:after {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3.0), only screen and(device-pixel-ratio: 3.0) {
  .border-1px:after {
    transform: scaleY(0.33);
  }
}