$colorGray: #7e7e7e;
$fontSize: 14px;
.end {
  text-align: center;
  img {
    display: block;
    width: 74.1%;
    margin: 0 auto;
    transform: translateX(-3%);
  }
  p {
    margin-top: 90px;
    color: $colorGray;
    font-size: $fontSize;
  }
}