@media only screen and (-webkit-device-pixel-ratio: 1), only screen and (device-pixel-ratio: 1) {
  .border-1px-h {
    transform: scaleY(1);
  }
  .border-1px-v {
    transform: scaleX(1);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 2), only screen and (device-pixel-ratio: 2) {
  .border-1px-h {
    transform: scaleY(0.5);
  }
  .border-1px-v {
    transform: scaleX(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3), only screen and (device-pixel-ratio: 3) {
  .border-1px-h {
    transform: scaleY(0.33);
  }
  .border-1px-v {
    transform: scaleX(0.33);
  }
}
.index img {
  display: block;
  max-width: 100%;
}
.index .title {
  padding-top: 35px;
  padding-bottom: 28px;
  line-height: 32px;
  text-align: center;
  color: #c20a0a;
  font-size: 22px;
}
.index .desc {
  width: 87%;
  margin: 25px auto 0;
  line-height: 32px;
  color: #474443;
  font-size: 14px;
  text-indent: 24px;
  text-align: left;
}
.index .desc p:nth-of-type(1) {
  margin-bottom: 8px;
}
.index .ad {
  position: relative;
  width: 95%;
  margin: 20px auto 0;
}
.index-custom-wrap .am-modal-title {
  color: #c20a0a;
}
.index-custom-wrap .text-content {
  line-height: 28px;
  font-size: 14px;
}
.index-custom-wrap .text-content p:nth-of-type(2) {
  margin-bottom: 15px;
}
.index-custom-wrap .am-modal-button {
  background: #c20a0a;
  color: #ffffff;
}
.index-custom-wrap .am-modal-button * {
  color: inherit;
}
