@import './common';

.prize {
  h3, h5 {
    font-weight: normal
  }
  //  重置tab样式
  .am-tabs {
    padding-top: 51px;
  }
  .am-tabs-default-bar-tab {
    font-size: 1rem;
  }
  .am-tabs-default-bar-top .am-tabs-default-bar-tab::after {
    display: none !important;
  }
  .am-tabs-default-bar-tab-active {
    color: $colorRed;
  }
  .am-tabs-default-bar-underline {
    width: 30% !important;
    transform: translateX(32%);
    border-color: $colorRed;
  }
  //  当前样式
  .nav-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 50px;
    font-size: 20px;
    color: #332c2b;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #dcdddd;
  }
  .list-wrap {
    width: 87%;
    margin: 0 auto;
    .caption {
      position: relative;
      text-align: center;
      padding: 30px 0 15px;
      p {
        position: relative;
        display: inline-block;
        padding: 0 4.125rem;
        font-size: 1rem;
        color: #37302f;
        background: #ffffff;
        .border-1px {
          position: absolute;
          width: 3.625rem;
          left: 0;
          top: 50%;
          height: 1px;
          transform: translateY(-50%);
          bottom: auto;
          &:nth-of-type(2) {
            left: auto;
            right: 0;
          }
        }
      }
    }
    li {
      position: relative;
      margin-bottom: 20px;
      .text-content{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        color: #ffffff;
      }
    }
  }
}