@media only screen and (-webkit-device-pixel-ratio: 1), only screen and (device-pixel-ratio: 1) {
  .border-1px-h {
    transform: scaleY(1);
  }
  .border-1px-v {
    transform: scaleX(1);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 2), only screen and (device-pixel-ratio: 2) {
  .border-1px-h {
    transform: scaleY(0.5);
  }
  .border-1px-v {
    transform: scaleX(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3), only screen and (device-pixel-ratio: 3) {
  .border-1px-h {
    transform: scaleY(0.33);
  }
  .border-1px-v {
    transform: scaleX(0.33);
  }
}
.QR-code {
  text-align: center;
}
.QR-code .top .first {
  padding: 36px 0 10px;
  color: #c20a0a;
  font-size: 22px;
}
.QR-code .top .second {
  color: #c20a0a;
  font-size: 16px;
}
.QR-code .top .third {
  padding-top: 6px;
  color: #686666;
  font-size: 14px;
}
.QR-code .code {
  margin: 50px auto 38px;
  max-width: 76%;
  max-height: 100%;
  color: #7a7979;
  font-size: 12px;
}
.QR-code .code img {
  display: block;
  width: 100%;
}
.QR-code .code .text {
  margin-top: 12px;
}
.QR-code .bot {
  line-height: 1.8rem;
  font-size: 14px;
  color: #332c2b;
}
