@import "../../public";

.homePage-root {
  width: 100%;
  height: 100vh;
  background-color: @orange;
  overflow: auto;
}

.homePage-topImage {
  width: 100%;
  height: auto;
}

.activityBgDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  align-content: center;
}

.homePage-openDay {
  .pxtorem(font-size, 36);
  color: @yellow;
}

.homePage-activityBtn {
  background-color: white;
  .pxtorem(font-size, 40);
  .pxtorem(height, 80);
  .pxtorem(line-height, 80);
  .pxtorem(border-radius, 5);
  width: 70%;
  text-align: center;
}

.openBtn {
  color: @orange;
}

.notOpenBtn {
  .pxtorem(margin-top, 40);
  color: @black5;
}

.homePage-padding {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.homePage-line {
  background-color: @orange-light;
  .pxtorem(height, 1);
  .pxtorem(margin-top, 60);
}

.introduceTitle {
  display: flex;
  justify-content: center;
  .pxtorem(margin-top, 40);
  .pxtorem(margin-bottom, 20);
  .pxtorem(font-size, 28);
  align-items: center;
}

.introduceText {
  .pxtorem(font-size, 26);
  color: white;
  font-weight: bold;
}

.introduce-line {
  background-color: white;
  .pxtorem(height, 2);
  .pxtorem(width, 60);
}

.leftLine {
  .pxtorem(margin-right, 10)
}

.rightLine {
  .pxtorem(margin-left, 10)
}

.introduce-contenDiv {
  .pxtorem(padding-bottom, 78);
  dd {
    .pxtorem(margin-bottom, 10);
    .pxtorem(line-height, 48);
    color: @white-8;
    text-align: justify;
  }
}

.homePage-modal {
  .am-modal-content {
    overflow: visible;
  }
}

.close-modal {
  position: absolute;
  left: 50%;
  .pxtorem(bottom, -100);
  .pxtorem(width, 58);
  .pxtorem(height, 58);
  transform: translateX(-50%);
  background: rgba(255, 255, 255, .7);
  .pxtorem(border-radius, 58);
  &::after, &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    .pxtorem(width, 2);
    .pxtorem(height, 40);
    background-color: rgba(0, 0, 0, 0.6);
    transform-origin: top;
  }
  &::after {
    transform: rotate(45deg) translateY(-50%);
  }
  &::before {
    transform: rotate(-45deg) translateY(-50%);
  }
}
